/* I might want to modify the font size to resize the squares */

table {
	border-collapse:collapse;
}

td {
	background-color: black;
	border: 3px solid white;
	/* As I change cell size, I need to modify font size, I think it is roughly 20px less */
	font-size:60px; 
	color:#ffffff;
	border-radius: 10px 10px 10px 10px;
}